* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.App {
  text-align: center;
}

.App__logo {
  height: 80px;
}

.App__header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App__body {
  max-width: 1170px;
  margin: 50px auto 0;
  border-radius: 3px;
  min-height: 200px;
}
